.searchbar {
  width: 70%;
  margin: 4rem 0 2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1rem 1.5rem;
  border-radius: 3rem;
  background: #1f2123;
  -webkit-box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
  box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
}

.searchbar input {
  flex: 1;
  border: none;
  font-size: 1.25rem;
  font-family: var(--font-raleway);
  font-weight: 500;
  padding-right: 1rem;

  outline: none;
  color: #a1a1a1;
  background: #1f2123;
}

.searchbar svg {
  color: white;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .searchbar {
    padding: 1rem 1.75rem;
    width: 100%;
  }

  .searchbar input {
    font-size: 1rem;
  }

  .searchbar svg {
    width: 20px;
    height: 20px;
  }
}
